@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #1f1f1f;
  font-family: Inter, Poppins, ui-sans-serif, system-ui, -apple-system, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Hide scrollbar */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Fix mobile gray scroll line */
.no-scrollbar-shadow {
  -webkit-overflow-scrolling: touch;
  background: transparent;
}